---

---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog de l'artiste</title>
  </head>
  <body>
    <a href="/">Accueil</a>
    <a href="/about/">À propos</a>
    <a href="/blog/">Blog</a>

    <h1>Blog</h1>
    <h2>La page blog du tuto</h2>
    <h1>Bienvenue dans le cours de Quentin test netlify</h1>
    <h2>Articles du blog :</h2>
  </body>
</html>
