---

---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tuto Astro</title>
  </head>
  <body>
    <a href="/"> ➡️Accueil ⬅️</a>
    <a href="/about/">À propos</a>
    <a href="/blog/">Blog</a>

    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
    <h1>Bienvenue dans le cours de Quentin test netlify</h1>
    <h2>chien</h2>
  </body>
</html>
